.hidden {
  opacity: 0;
  pointer-events: none;
}
.container {
  position: relative;

  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.white  {
  background: #ffffff;
}
.flex  {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.padding-thirty  {
  padding: 0 30px;
}
.margin-bottom-forty {
  margin-bottom: 4rem;
}
.flex  {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.icon-padding {
  padding-left: 24px;
}
.move::before  {
  background: url('../images/icon-copy.svg') no-repeat center left;
}
.transform::before  {
  background: url('../images/icon-share.svg') no-repeat center left;
}
.paint-bucket::before  {
  background: url('../images/fill-drip.svg') no-repeat center left;
}
.color-picker::before  {
  background: url('../images/icon-upload.svg') no-repeat center left;
}
.circle {
  border-radius: 50%;
}

