::after,::before {
  box-sizing: border-box
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  outline: none !important;
  list-style: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.3;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.5413);

  box-sizing: border-box;
}

a {
  &:link,
  &:visited,
  &:focus {
    color: rgba(0, 0, 0, 0.5413);
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

button {
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: rgba(0, 0, 0, 0.5413);

  -webkit-appearance: none;
  border: 0;
}
