.header {
  height: 48px;
  width: 100%;
  padding: 0 0.8px 8px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 8rem;
}

.title {
  padding-top: 8px;
  color: #000000;
}

.nav-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 14px 11px 12px;
  border-radius: 50%;

  background: url('../images/menu.svg') no-repeat center center;
  transition: all 0.5s;
  &:hover {
    background-color: rgba(0,0,0, 0.1);
    border-radius: 50%;
  }
}

.sidebar {
  max-width: 50px;
  width: 100%;
}

.frames {
  align-content: flex-start;

  padding-top: 16px;

  max-width: 150px;
  width: 100%;
  max-height: 800px;

  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-appearance: none;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
  &.panel {
    padding-top: 16px;
  }
  &-add {
    padding: 5px;

    border: 3px solid #C4C4C4;

    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;

    cursor: pointer;

    &:hover {
      border-color: cornflowerblue;
      color: cornflowerblue;
    }
  }
}

.frame {
  position: relative;

  width: 100px;
  height: 100px;
  margin-bottom: 10px;

  background: rgba(255, 255, 255, 0.5);
  background-size: contain;
  border: 3px solid #C4C4C4;

  cursor: pointer;
  &.active {
    border-color: cornflowerblue;
    .frame-remove {
      display: none;

    }
    .frame-box {
      color: #ffffff;
      background-color: cornflowerblue;
    }
  }
  &-box {
    position: absolute;
    left: 0;
    bottom: -3px;

    display: inline-block;

    height: 30px;
    width: 30px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #ffffff;
    background-color: #C4C4C4;
  }
  &-name {
    left: 0;
    top: 0;
  }

  &-remove {
    left: auto;
    right: 0;
    background: url('../images/remove.svg') #C4C4C4 no-repeat center center;
  }

  &-copy {
    background: url('../images/copy.svg') #C4C4C4 no-repeat center center;
  }
}
.demo {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.preview {
  position: relative;
  height: 326px;
  width: 326px;

  background: #E5E5E5;
  background-size: cover;
  /* shadow */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);

  &:-webkit-full-screen {
    width: 800px;
    height: 800px;
    background-size: 100% 100%;
    .preview-slider {
      height: 15vh;
      opacity: 0.9;
      &::-webkit-slider-thumb {
        height: 15vh;
      }
    }
  }
}
.preview-slider {
  position: absolute;
  bottom: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 24px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #616161;
    cursor: pointer;
  }
}
.preview-full-screen {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 10px;

  display: inline-block;

  width: 100%;

  font-size: 30px;
  line-height: 30px;
  text-align: center;

  color: #ffffff;
  background-color: #C4C4C4;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background-color: cornflowerblue;
  }
}
.panel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
  &:not(:last-child) {
    margin-bottom: 90px;
  }
  hr {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
    border: 0;
  }
}

.button-default {
  position: relative;

  width: 25px;
  height: 48px;

  font-size: 0;
  text-align: left;
  transition: all 0.5s;

  cursor: pointer;
  &:hover {
    color: #000;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    display: inline-block;
    content: '';

    height: 24px;
    width: 24px;


  }
}

.color {
  span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    display: inline-block;
    width: 20px;
    height: 20px;

    background: #C4C4C4;
    border: 1px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.canvas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  width: 725px;
  height: 731px;
}

.figure {
  background: rgba(0,0,0, 0.2);
}
